---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <section class="post">
      <header class="post-header">
        <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

        <p class="post-meta">
          {{ post.date | date: "%b %-d, %Y" }}
          {% if post.categories.size > 0 %}
            in
            {% for cat in post.categories %}
            <span class="post-category post-category-{{ cat }}">{{ cat | capitalize }}</span>
            {% endfor %}
          {% endif %}
        </p>
      </header>

      <div class="post-description">
        {{ post.content }}
      </div>
    </section>
  {% endfor %}
</div>
