$dark: #2b303b;
$light: #B8C3C8;
$accent: #7bafc2;
$gray: #777;
$lightGray: #eee;

$sidebarLinkColor: white;
$sidebarLinkHoverColor: $accent;
$sidebarBackgroundColor: $dark;
$sidebarForegroundColor: $accent;
$sidebarTitleColor: white;
$footerColor: $gray;
$linkColor: $accent;
$postBorderColor: $lightGray;

@mixin transition($property, $duration) {
    -webkit-transition: $property $duration ease-in-out;
    -moz-transition: $property $duration ease-in-out;
    -o-transition: $property $duration ease-in-out;
    -ms-transition: $property $duration ease-in-out;
    transition: $property $duration ease-in-out;
}

@mixin optimizeLegibility {
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

@mixin antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
