.resume {

  ul, p {
    color: #444;
    line-height: 1.8;
  }

  p.callout {
    margin-bottom: 1.5em;
    font-style: italic;
  }

  h2 {
    color: $accent;
  }

  hr {
    border: none;
    height: 1px;
    color: $lightGray; /* old IE */
    background-color: $lightGray; /* Modern Browsers */
  }

  .engagement {
    margin-bottom: 3em;

    h3, h4, h5 {
      margin: 0;
      font-weight: normal;
    }

    h3 {
      font-weight: bold;
    }

    h5 {
      color: #5a6e77;
    }
  }
}
