<div class="p-5 md:p-10 bg-white max-w-3xl mx-auto shadow-lg mb-5">
  <div class="mb-4">
    <h2 class="font-noto text-3xl font-bold mb-1 text-gray-900">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>

    {{ if .Date }}
    <p class="post-meta">
      <time class="text-gray-500" datetime={{ .Date.Format "2006-01-02T15:04:05Z0700" }}>
        {{ .Date.Format "January 2, 2006" }}
      </time>

      {{ if isset .Params "categories" }}
      in
      {{ range .Params.categories }}
      <span class="post-category post-category-{{ lower . }}">{{ . }}</span>
      {{ end }}
      {{ end }}

    </p>
    {{ end }}
  </div>
  <div class="markdown">
    {{ .Content }}
  </div>
</div>
