<div class="p-5 md:p-10 bg-white max-w-3xl mx-auto shadow-lg mb-5">
  <div class="mb-4">
    <h2 class="font-noto text-3xl font-bold mb-1 text-gray-900">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>

    {{ if .Date }}
    <div class="flex items-center">
      <time class="text-gray-500 mr-1" datetime={{ .Date.Format "2006-01-02T15:04:05Z0700" }}>
        {{ .Date.Format "January 2, 2006" }}
      </time>

      {{ if isset .Params "categories" }}
        {{ range .Params.categories }}
          <span class="bg-gray-200 text-sm font-bold text-gray-400 p-0.5 px-1 text-white">{{ . }}</span>
        {{ end }}
      {{ end }}

    </div>
    {{ end }}
  </div>
  <div class="markdown">
    {{ .Content }}
  </div>
</div>
