{{ define "main" -}}
  <div>
    {{ $posts := where site.RegularPages "Type" "in" "posts" }}

    {{ range first 3 $posts.ByDate.Reverse -}}
      {{ partial "post.html" . }}
    {{- end }}
  </div>

  <div class="p-4">
    <div class="text-lg mb-2 text-white text-opacity-40 uppercase font-bold tracking-wider">
      Older Posts
    </div>

    <table class="w-full">
      {{ range after 3 $posts.ByDate.Reverse -}}
        <tr>
          <td>
            <div>
              <a class="text-white text-opacity-60 hover:text-opacity-80" href="{{ .Permalink }}">
                {{ .Title }}
              </a>
            </div>
            <div class="text-white text-opacity-40 text-sm mb-2 sm:hidden">
              {{ .Date.Format "2006-01-02" }}
            </div>
          </td>
          <td class="text-white text-opacity-40 hidden sm:block">
            {{ .Date.Format "2006-01-02" }}
          </td>
        </tr>
      {{- end }}
    </table>
  </div>
{{- end }}
