{{ define "main" -}}
  <div>
    {{ $posts := where site.RegularPages "Type" "in" "posts" }}

    {{ range first 3 $posts.ByDate.Reverse -}}
      {{ partial "post.html" . }}
    {{- end }}
  </div>

  <div class="p-4 text-white text-opacity-50">
    <div class="text-lg mb-2 uppercase font-bold tracking-wider">Older Posts</div>
    <table>
      {{ range after 3 $posts.ByDate.Reverse -}}
        <tr>
          <td>
            <div>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </div>
          </td>
          <td>{{ .Date.Format "2006-01-02" }}</td>
        </tr>
      {{- end }}
    </table>
  </div>
{{- end }}
