---
layout: default
---

<section class="post">
  <header class="post-header">
    <h2 class="post-title">
      <a href="">{{ page.title }}</a>
    </h2>

    <p class="post-meta">
      {{ page.date | date: "%B %-d, %Y" }}
      {% if page.categories.size > 0 %}
        in
        {% for cat in page.categories %}
        <span class="post-category post-category-{{ cat }}">{{ cat | capitalize }}</span>
        {% endfor %}
      {% endif %}
    </p>
  </header>

  <div class="post-description">
    {{ content }}
  </div>
</section>
